body {
    font-family: 'Sanchez', serif;
    color: rgb(38, 44, 44);
}

h1 {
    color: #a6dbc8c2;
}

a {
    text-decoration: none;
    color: rgb(38, 44, 44);
}

a:hover {
    opacity: 80%;
    color: rgba(38, 44, 44, 0.685);
}

.description {
        color: #a6dbc8c2;
        text-align: center;

}

.bg-white {
    background-color: white;
}

.logo {
    max-width: 200px;
}

.shop {
    background-color: rgb(166, 219, 200);
    color: white;
    padding: 10px;
    width: 280px;
    text-align: center;
    display: block;
    font-size: 24px;
    border-radius: 4px;
    margin: auto; 
}

.shop:hover {
    color: white;
}